<html>
    <head>
        <title>App</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    </head>

    <body>
        <div class="header">
            <a href="/">
                <h1>Machine Learning Portal</h1>
            </a>
        </div>

        <div class="content">

            <div class="experiment_left">
                <div class="hello">
                    <p>Hello {{ current_user.login }}</p>
                </div>
            </div>

            <div class="experiment_right">

                <a class="link" href="/experiments"><button>Your experiments</button></a>

                <a class="logout" href="/logout">
                    <button class="button">Logout</button>
                </a>

            </div>

        </div>

    </body>
</html>