<html>
    <head>
        <title>Sign up page</title>
    </head>

    <body>
        <h3 class="title">Sign up</h3>
        <form method="POST" action="/signup">
            <div>
                <input type="text" placeholder="Login" name="login">
            </div>
            <div>
                <input type="text" placeholder="Password" name="password">
            </div>
            <div>
                <button>Sign up</button>
            </div>
        </form>

        <div class="messages">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </body>



</html>

